.active{
    cursor: pointer;
    transform: scale(1.05);
    color: rgb(141, 235, 10);
    border-radius: 20px;
    background-color: rgb(76, 76, 197);
    
    
}

.login{
    padding: 10px;
}

.counter{
    padding: 10px;

}

.modal{
    padding: 10px;
}

.todo{
    padding: 10px;
}

.giphy{
    padding: 10px;
}

